@import '../../styles/mixins';
@import '../../styles/variables';

.banner {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;

  &--search-mode {
    @include small-screen {
      height: 600px;
      padding-bottom: 0;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin: 30px 6%;

    &--search-mode {
      display: block;
    }

    @include medium-screen {
      display: flex;
    }
  }

  &__search-icon {
    margin-top: 5px;
  }

  &__logo {
    cursor: pointer;
  }

  &__title {
    margin: 40px 10%;
    font-size: 40px;
    color: $white-color;
    font-weight: normal;
    text-align: center;
    letter-spacing: 5px;
    text-shadow: 0 0 1px $dark-grey-color;

    @include medium-screen {
      margin: 80px 10%;
      font-size: 55px;
      text-align: left;
    }
  }

  &__background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: #000000cc;

    &--blured {
      background-color: #000000ee;
    }
  }

  &__image {
    background-image: url('https://i.ibb.co/XkDdLKX/banner.jpg');
    filter: blur(3px);
    position: absolute;
    object-fit: cover;
    background-position: center 0%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
  }
}