@import "../../scss/mixins.scss";

.movie {
  width: 85.7vw;
  padding-bottom: 20px;
  border-bottom: 1vw solid $medium-grey-color;
  margin-bottom: 5vw;
  cursor: pointer;

  @include small-screen {
    width: 41vw;
    border: none;
    margin-bottom: 0;
  }

  @include large-screen {
    width: 27vw;
  }

  @include extra-large-screen {
    width: 20.5vw;
  }

  &__image-wrapper {
    width: 100%;
    height: 132vw;
    position: relative;

    @include small-screen {
      height: 63vw;
    }

    @include large-screen {
      height: 40vw;
    }

    @include extra-large-screen {
      height: 30.4vw;
    }
  }

  &__image {
    width: 100%;
    height: 132vw;
    object-fit: cover;
    background-position: center 0%;

    @include small-screen {
      height: 63vw;
    }

    @include large-screen {
      height: 40vw;
    }

    @include extra-large-screen {
      height: 30.4vw;
    }
  }

  &__footer {
    margin-top: 4.5vw;
    display: flex;
    justify-content: space-between;

    @include small-screen {
      margin-top: 1.5vw;
    }

    @include large-screen {
      margin-top: 1.1vw;
    }

    @include extra-large-screen {
      margin-top: 0.835vw;
    }
  }

  &__name {
    color: rgba($white-color, 0.75);
    font-size: 4vw;
    width: 75%;
    line-height: 1.3;
    letter-spacing: 0.2vw;

    @include small-screen {
      font-size: 1.8vw;
      letter-spacing: 0.1vw;
    }

    @include large-screen {
      font-size: 1.2vw;
      letter-spacing: 0.06vw;
    }

    @include extra-large-screen {
      font-size: 0.91vw;
      letter-spacing: 0.045vw;
    }
  }

  &__category {
    margin-top: 2.2vw;
    color: $light-grey-color;
    font-size: 3vw;

    @include small-screen {
      margin-top: 1vw;
      font-size: 1.6vw;
      letter-spacing: 0.03vw;
    }

    @include large-screen {
      margin-top: 0.7vw;
      font-size: 1.1vw;
      letter-spacing: 0.02vw;
    }

    @include extra-large-screen {
      margin-top: 0.53vw;
      font-size: 0.835vw;
      letter-spacing: 0.015vw;
    }
  }

  &__release {
    border: solid 0.4vw $light-grey-color;
    align-self: baseline;
    padding: 1vw 4vw;
    border-radius: 1vw;
    font-size: 3vw;
    color: rgba($white-color, 0.75);

    @include small-screen {
      border: solid 0.2vw $light-grey-color;
      padding: 0.6vw 2.4vw;
      border-radius: 0.4vw;
      font-size: 1.6vw;
    }

    @include large-screen {
      border: solid 0.12vw $light-grey-color;
      padding: 0.4vw 1.6vw;
      border-radius: 0.27vw;
      font-size: 1.1vw;
    }

    @include extra-large-screen {
      border: solid 0.09vw $light-grey-color;
      padding: 0.3vw 1.2vw;
      border-radius: 0.2vw;
      font-size: 0.836vw;
    }
  }

  &__three-dots {
    display: none;
    position: absolute;
    background-color: $dark-grey-color;
    border-radius: 50%;
    right: 3vw;
    top: 4vw;
    width: 8vw;
    height: 8vw;
    padding: 1.3vw;

    &:hover {
      background-color: rgba($medium-grey-color, 0.7);
    }

    @include small-screen {
      right: 1.5vw;
      top: 2vw;
      width: 4vw;
      height: 4vw;
      padding: 0.65vw;
    }

    @include large-screen {
      right: 1vw;
      top: 1.3vw;
      width: 2.7vw;
      height: 2.7vw;
      padding: 0.43vw;
    }

    @include extra-large-screen {
      right: 0.76vw;
      top: 0.99vw;
      width: 2.05vw;
      height: 2.05vw;
      padding: 0.33vw;
    }
  }

  &__menu {
    position: absolute;
    right: 2vw;
    top: 2vw;

    @include small-screen {
      right: 1vw;
      top: 1vw;
    }

    @include large-screen {
      right: 0.66vw;
      top: 0.66vw;
    }

    @include extra-large-screen {
      right: 0.5vw;
      top: 0.5vw;
    }
  }

  &:hover &__three-dots {
    display: block;
  }
}