@import "scss/variables";
@import "scss/mixins";

.close-menu-button {
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    margin-bottom: 5px;
  }

  &__button {
    width: 25px;
    height: 25px;
    cursor: pointer;
    position: relative;
    transition: 0.4s;

    &:before, &:after {
      position: absolute;
      content: ' ';
      height: 25px;
      width: 2px;
      right: 12.5px;
      background-color: $white-color;
      transition: 0.4s;
    }
  
    @include medium-screen {
      width: 30px;
      height: 30px;

      &:before, &:after {
        height: 30px;
        width: 3px;
        right: 15px;
      }
    }

  
    &:hover {
      &:before, &:after {
        background-color: $pink-color;
      }
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }


    &--small {
      width: 3vw;
      height: 3vw;

      &:before, &:after {
        height: 3vw;
        width: 0.4vw;
        right: 1.5vw;
      }

      @include small-screen {
        width: 1.5vw;
        height: 1.5vw;

        &:before, &:after {
          height: 1.5vw;
          width: 0.2vw;
          right: 0.75vw;
        }
      }

      @include medium-screen {
        width: 1.5vw;
        height: 1.5vw;

        &:before, &:after {
          height: 1.5vw;
          width: 0.2vw;
          right: 0.75vw;
        }
      }
    
      @include large-screen {
        width: 1vw;
        height: 1vw;

        &:before, &:after {
          height: 1vw;
          width: 0.133vw;
          right: 0.5vw;
        }
      }
    }
  }
}
