$dark-grey-color: #232323;
$medium-grey-color: #424242;
$light-grey-color: #555555;
$pink-color: #F65261;
$white-color: #ffffff;

$extra-large-screen-size: 1500px;
$large-screen-size: 1030px;
$medium-screen-size: 930px;
$small-screen-size: 830px;
