@import "scss/variables";
@import "scss/mixins";

.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  background-color:#000000bb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  
  &__content-wrapper {
    width: 88%;
    max-height: 100vh;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    @include large-screen {
      width: 50%;
    }
  }
  
  &__content {
    background-color: $dark-grey-color;
    display: block;
    padding: 25px 10px 66px 25px;
    box-shadow: 0 0 2px $dark-grey-color;
    margin-top: 5vh;
    margin-bottom: 5vh;

    @include large-screen {
      margin-top: 15vh;
      margin-bottom: 15vh;
      padding: 25px 10px 66px 90px;
    }
  }

  &__header {
    color: $white-color;
    font-weight: normal;    
    text-shadow: 0 0 1px $dark-grey-color;
    margin-bottom: 40px;
    font-size: 26px;
    letter-spacing: 2px;
    margin-top: 10px;

    @include medium-screen {
      font-size: 40px;
      letter-spacing: 3px;
    }
  }

  &__body {
    padding-right: 15px;
    
    @include medium-screen {
      padding-right: 80px;
    }
  }
}
